	<title>{{ page.title }}</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> 
    <!--[if lt IE 9]>
            <script src="{{ page.base_url }}assets/js/html5shiv.js"></script>
            <script src="{{ page.base_url }}assets/js/respond.min.js"></script>
        <![endif]-->
        
      
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/JavaScript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js" type="text/JavaScript"></script>
    <!-- Latest compiled and minified CSS -->
      {% if page.slug == "resume/overview" %} <link rel="stylesheet" href="/assets/css/parallax.css"> {% endif %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


	<!-- Latest compiled and minified JavaScript -->	
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/JavaScript"></script>



  <link href="{{ page.base_url }}assets/css/master.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ page.base_url }}assets/css/jquery.sidr.dark.css">
  <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55103521-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<!-- End Google Analytics -->