	<title>{{ page.title }}</title>
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> 
    <!--[if lt IE 9]>
            <script src="{{ page.base_url }}assets/js/html5shiv.js"></script>
            <script src="{{ page.base_url }}assets/js/respond.min.js"></script>
        <![endif]-->
        
      
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/JavaScript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js" type="text/JavaScript"></script>
    <!-- Latest compiled and minified CSS -->
      {% if page.slug == "resume/overview" %} <link rel="stylesheet" href="/assets/css/parallax.css"> {% endif %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


	<!-- Latest compiled and minified JavaScript -->	
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/JavaScript"></script>



  <link href="{{ page.base_url }}assets/css/master.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ page.base_url }}assets/css/jquery.sidr.dark.css">