<script src="/assets/js/typed.js"></script>
<script src="/assets/js/jquery.sidr.min.js"></script>
<script>
$(function(){
  $('#title').typed({
    strings: ['{{ page.title }}'],
    typeSpeed: 20,
    callback: function() {
 		$('#main-body').fadeIn(1000); 
    }
  });
  $('#cursor').bind('fade-cycle', function() {
      $(this).fadeOut('fast', function() {
          $(this).fadeIn('fast', function() {
              $(this).trigger('fade-cycle');
          });
      });
  });
  $('#cursor').each(function(index, elem) {
      setTimeout(function() {
          $(elem).trigger('fade-cycle');
      }, index * 250);
  });
  $('#responsive-menu-button').sidr({
      name: 'sidr-right',
      side: 'right'
    });
   $('#resume-sidr-button').sidr({
      name: 'resume-right',
      side: 'right'
    });
   $('#back-to-nav-button').sidr({
      name: 'sidr-right',
      side: 'right'
    });
  $(window).resize(function () { $.sidr('close', 'sidr-right'); });
          $("body").click(function(){
               $.sidr('close', 'sidr-right');
          });

})
</script>
{% if page.slug == "resume/overview" %}
<script>window.jQuery || document.write('<script src="//code.jquery.com/jquery-1.11.0.min.js"><\/script>')</script>
<script src="/assets/js/imagesloaded.js"></script>
<script src="/assets/js/skrollr.js"></script>
<script src="/assets/js/mainparallax.js"></script>
<script>
  $(window).load(function(){
    $('#loading').hide();
  });
</script>
{% endif %}
