<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>
	<div class="nav">
		{% include nav.html %}
	</div >
	<div class="site-wrapper" > 	
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover" style="display:none" id="main-body">
					<div class="mainbody">
						<div id="sidr-right" class="sidr right">
							<div class="sidr-inner">
								<!-- Your content -->
								<ul class="sidr-class-nav sidr-class-navbar-nav">
									<li {% if page.slug == "about" %} class="active"{% endif %}><a href="/">About</a></li>
						    	<!--<li {% if page.slug == "resume" %} class="active"{% endif %}>
						    		<a href="#resume-right" data-toggle="dropdown" id="resume-sidr-button">
						      																	Resume
						    		</a>
						    	</li>-->
						    	<li {% if page.slug == "resume" %} class="active"{% endif %}><a href="/resume">Resume</a></li>
						    	<li {% if page.slug == "apps" %} class="active"{% endif %}><a href="/apps">Mobile Apps</a></li>
						    	<li {% if page.slug == "contact" %} class="active"{% endif %}><a href="/contact">Contact Me</a></li>
						    </ul>
						</div>
					</div>
					<div id="resume-right" class="sidr right">
						<ul class="sidr-class-nav sidr-class-navbar-nav">
							<li><a href="/resume/overview">Overview</a></li>
							<li><a href="/resume/detail">Detail</a></li>
							<li><a href="#sidr-right" id="back-to-nav-button">Back</a></li>
							</ul>
						</div>
						<div class="content">
							{{ content }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include scripts.html %}
	</html>