<!DOCTYPE html>
<html lang="en">
	<head>
    {% include head.html %}
    </head>
  <body>
  <div class="nav">
		{% include nav.html %}
		</div >
  	<div class="site-wrapper" > 	
	  	<div class="site-wrapper-inner">
	  		<div class="cover-container">
		  		<div class="inner cover" style="display:none" id="main-body">
		  			<div class="mainbody">
							<div id="sidr-right" class="sidr right">
							<div class="sidr-inner">
							  <!-- Your content -->
							  <ul class="sidr-class-nav sidr-class-navbar-nav">
							    <li><a href="#">List 1</a></li>
							    <li class="active"><a href="#">List 2</a></li>
							    <li><a href="#">List 3</a></li>
							  </ul>
							  </div>
							</div>
			 			{{ content }}
			 		</div>
			 	</div>
		 	</div>
	 	</div>
 	</div>
 	{% include scripts.html %}
</html>